body,h1,h2,h3,h4,h5,h6,html *{
    -webkit-font-smoothing:antialiased
}
.chromeframe,h1.main_title_in,h3.main_title,h3.slide_typo,p.lead.styled{
    text-align:center
}
#social ul li a,a{
    -webkit-transition:all .2s ease
}
a,a:focus,a:hover{
    text-decoration:none
}
.chromeframe,header{
    position:fixed;
    top:0;
    left:0;
    z-index:9999
}
.slide_typo_2,h3.slide_typo,s.checkbox-holder{
    white-space:nowrap
}
#count ul,#features ul,#nav_in ul,.filter_type ul,.plan-features li,.profile ul,footer ul,ul#access_top,ul#cat_nav,ul#course_info,ul.contacts_info,ul.list_3,ul.social_teacher{
    list-style:none
}
.owl-carousel,.owl-carousel .owl-item,.owl-theme .owl-dots,.owl-theme .owl-nav{
    -webkit-tap-highlight-color:transparent
}
.chromeframe{
    background:#ddd;
    color:#000;
    padding:.2em;
    width:100%
}
.chromeframe a{
    color:#ed1c24
}
@font-face{
    font-family:Poppins;
    font-style:normal;
    font-weight:400;
    src:url(https://fonts.gstatic.com/s/poppins/v1/2fCJtbhSlhNNa6S2xlh9GyEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
    unicode-range:U+02BC,U+0900-097F,U+1CD0-1CF6,U+1CF8-1CF9,U+200B-200D,U+20A8,U+20B9,U+25CC,U+A830-A839,U+A8E0-A8FB
}
@font-face{
    font-family:Poppins;
    font-style:normal;
    font-weight:400;
    src:url(https://fonts.gstatic.com/s/poppins/v1/UGh2YG8gx86rRGiAZYIbVyEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
    unicode-range:U+0100-024F,U+1E00-1EFF,U+20A0-20AB,U+20AD-20CF,U+2C60-2C7F,U+A720-A7FF
}
@font-face{
    font-family:Poppins;
    font-style:normal;
    font-weight:400;
    src:url(https://fonts.gstatic.com/s/poppins/v1/yQWaOD4iNU5NTY0apN-qj_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
    unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000
}
html *{
    -moz-osx-font-smoothing:grayscale
}
body{
    background:#fff;
    font-size:14px;
    line-height:1.5;
    font-family:Poppins,Arial,sans-serif;
    color:#444;
    font-weight:300
}
h1,h2,h3,h4,h5,h6{
    color:#222;
    font-weight:300
}
h1.main_title_in{
    border-bottom:1px solid #ededed;
    padding:15px 15px 30px;
    margin:0
}
h1.main_title,h2.main_title{
    text-align:center;
    margin:0 0 30px;
    padding:0;
    font-size:42px;
    color:#92278f;
    text-transform:uppercase
}
h1.main_title span,h2.main_title span{
    display:block;
    color:#999;
    font-size:24px;
    text-transform:none
}
h1.main_title em,h2.main_title em{
    display:block;
    width:40px;
    height:4px;
    background-color:#ededed;
    margin:auto auto 20px;
    -webkit-border-radius:5 px;
    -moz-border-radius:5px;
    border-radius:5px
}
h3.main_title{
    margin:0 0 45px;
    padding:0;
    font-size:36px;
    color:#ed5434;
    text-transform:uppercase
}
h3.main_title span{
    display:block;
    color:#999;
    font-size:18px;
    text-transform:none
}
.parallax-window #subheader h1{
    display:inline-block;
    margin:0;
    padding:15px 20px;
    font-size:32px;
    color:#fff
}
.promo_full_wp div h3{
    font-size:48px;
    text-transform:uppercase;
    font-weight:300;
    color:#fff;
    margin-bottom:30px
}
.promo_full_wp div h3 span{
    color:#fff;
    display:block;
    text-transform:none;
    font-size:24px
}
h3.slide_typo{
    color:#fff!important;
    text-transform:uppercase;
    font-size:52px;
    line-height:1.1;
    font-weight:600;
    text-shadow:2px 2px 7px rgba(0,0,0,.45)
}
.slide_typo_2,strong{
    font-weight:500
}
.slide_typo_2{
    color:#fff;
    font-size:22px
}
p{
    margin-bottom:20px
}
p.lead.styled{
    font-size:18px;
    padding:0 10%;
    margin-bottom:45px
}
.btn_full,.btn_outline,a.btn_full,a.btn_outline{
    font-family:inherit;
    font-size:inherit;
    cursor:pointer;
    outline:0;
    display:block;
    font-weight:600;
    width:100%;
    text-align:center
}
a{
    color:#ed5434;
    transition:all .2s ease;
    outline:0
}
a:focus,a:hover{
    color:#333;
    outline:0
}
.btn_full,a.btn_full{
    border:none;
    color:#fff;
    background:#ed5434;
    padding:12px 20px;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    text-transform:uppercase;
    margin-bottom:5px
}
.btn_1,.btn_outline,a.btn_1,a.btn_outline{
    -webkit-transition:all .3s;
    -moz-transition:all .3s
}
.btn_full:hover,a.btn_full:hover{
    background:#333
}
.btn_outline,a.btn_outline{
    border:2px solid #333;
    color:#333;
    padding:8px 20px;
    transition:all .3s;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    text-transform:none
}
.btn_1,.btn_1_outline,.btn_slider,a.btn_1,a.btn_1_outline,a.btn_slider{
    font-family:inherit;
    display:inline-block;
    outline:0;
    cursor:pointer
}
#sub_content_in h1,#trainer_col h4,.filter_type h6,.plan-title,.ribbon span,.table.cart-list th,.table.options_cart th,.team-item-detail-inner h4,.type span,footer h4,ul#access_top li a{
    text-transform:uppercase
}
.btn_outline:hover,a.btn_outline:hover{
    background:#333;
    color:#fff
}
.btn_1,a.btn_1{
    border:none;
    color:#fff;
    background:#ed5434;
    padding:7px 15px;
    font-size:13px;
    transition:all .3s;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    font-weight:500
}
.btn_1:hover,a.btn_1:hover{
    background:#333
}
.btn_1_outline,a.btn_1_outline{
    color:#ed5434;
    border:2px solid #ed5434;
    padding:7px 15px;
    font-size:13px;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    font-weight:500
}
.btn_1_outline:hover,a.btn_1_outline:hover{
    background:#333;
    border:2px solid #333;
    color:#fff
}
.btn_slider,a.btn_slider{
    border:none;
    color:#fff;
    background:#ed5434;
    padding:8px 20px;
    font-size:16px;
    -webkit-transition:background .3s!important;
    -moz-transition:background .3s!important;
    transition:background .3s!important;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    font-weight:500
}
header#plain,header.sticky{
    border-bottom:1px solid #ededed
}
.btn_slider:hover,a.btn_slider:hover{
    background:#fff;
    color:#ed5434
}
.btn_1.white,a.btn_1.white{
    background:#ed5434;
    color:#fff
}
.btn_1.white a:hover,.btn_1.white:hover,a.btn_1.white:hover{
    background:#fff;
    color:#ed5434!important
}
header{
    padding:5px 10px;
    width:100%;
    background:url(../img/shadow_top.png) repeat-x
}
header.sticky{
    background:#fff;
    -webkit-transition:all .4s ease;
    transition:all .4s ease
}
header#plain{
    background:#fff
}
header#plain #logo .logo_sticky{
    display:block
}
header #logo .logo_sticky,header#plain #logo .logo_normal,header.sticky #logo .logo_normal{
    display:none
}
header.sticky #logo .logo_sticky{
    display:block
}
#logo img{
    height:27px;
    width:auto;
    margin:12px 0 0
}
ul#access_top{
    float:right;
    margin:12px 0 0
}
ul#access_top li{
    display:inline-block;
    margin-left:5px
}
ul#access_top li a{
    display:inline-block;
    padding:8px 15px 5px;
    line-height:1;
    background-color:#f6f7f9;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    font-size:12px;
    font-weight:500
}
ul#access_top li:first-child{
    margin-left:0
}
ul#access_top li a.search-overlay-menu-btn{
    display:inline-block;
    padding:0 5px 0 0;
    position:relative;
    margin-left:-5px;
    top:2px;
    background-color:transparent;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    font-size:18px;
    color:#fff
}
header.sticky ul#access_top li a.search-overlay-menu-btn:hover,ul#access_top li a.search-overlay-menu-btn:hover{
    color:#ed5434
}
header.sticky ul#access_top li a.search-overlay-menu-btn{
    color:#444
}
#copy,footer a,footer h4{
    color:#fff
}
footer{
    background-color:#4088DA;
    padding:45px 0 0
}
footer h4{
    font-size:14px;
    margin-top:0;
    border-bottom:1px solid rgba(255,255,255,.1);
    padding-bottom:10px;
    font-weight:500
}
footer ul{
    padding:0 0 20px
}
footer a:hover{
    color:#fff;
    padding-left:5px
}
.footer_pic{
    margin-top:-130px
}
#copy{
    text-align:center;
    font-size:13px;
    background-color:#3269a9;
    padding:15px;
    color:rgba(255,255,255,.6)
}
#newsletter_container{
    background-color:#f8f8f8
}
#newsletter_container h3{
    font-size:32px;
    margin:0 0 20px
}
input.form-control#email_newsletter{
    margin-bottom:0;
    background-color:#fff;
    border:none;
    border:2px solid #ededed;
    height:49px;
    font-size:15px;
    padding-left:20px;
    width:380px;
    margin-top:-2px;
    margin-right:5px;
    -webkit-box-shadow:none;
    box-shadow:none;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px
}
#hero_video,#social ul li a{
    font-size:16px;
    text-align:center
}
input.form-control#email_newsletter:focus{
    border-color:none;
    outline:0;
    -webkit-box-shadow:none;
    box-shadow:none;
    color:#444
}
#submit-newsletter.btn_1{
    padding:14px 35px
}
#social ul{
    margin:0;
    padding:0 0 10px
}
#social ul li{
    display:inline-block;
    margin:0 5px 10px 0
}
#social ul li a{
    color:#242e30;
    line-height:35px;
    display:block;
    width:35px;
    height:35px;
    padding:0;
    background-color:#fff;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    transition:all .2s ease
}
#social ul li a:hover,.thumb_cart{
    -webkit-border-radius:50%;
    -moz-border-radius:50%
}
#social ul li a:hover{
    color:#3f9ad6!important;
    border-radius:50%
}
.header-video{
    position:relative;
    overflow:hidden;
    background:#000
}
#count,video{
    width:100%;
    position:absolute;
    left:0;
    bottom:0
}
#feat,#hero_video{
    background-size:cover
}
#hero_video{
    position:relative;
    color:#fff;
    width:100%;
    display:table;
    height:100%;
    z-index:99
}
#hero_video>div{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    padding:0 10%
}
#count .number,#count ul li,.type span{
    display:inline-block
}
#sub_content h1{
    margin:0;
    font-size:60px;
    font-weight:300;
    color:#fff
}
#sub_content p{
    font-size:24px;
    margin:0;
    padding:0
}
video{
    top:0;
    right:0;
    opacity:.55
}
iframe{
    height:100%;
    width:100%
}
.header-video--media,.teaser-video{
    width:100%;
    height:auto
}
#count{
    background-color:rgba(0,0,0,.25);
    padding:15px 0;
    color:#fff;
    font-size:18px;
    z-index:99;
    border-top:1px solid rgba(255,255,255,.15)
}
#count ul{
    padding:0;
    margin:0;
    text-align:center
}
#count ul li{
    text-align:center;
    margin:0 10px;
    padding-left:20px;
    background:url(../img/dots_vert.png) center left no-repeat
}
#count ul li:first-child{
    margin-left:0;
    padding-left:0;
    background:0 0
}
#count ul li:last-child{
    margin-right:0
}
#count .number{
    width:60px;
    margin-right:5px;
    font-weight:500;
    text-align:right;
    font-size:24px
}
#filter_buttons,.box_feat,.type,.type span,a#view_all span{
    text-align:center
}
#feat{
    padding:60px 0 600px;
    background-image:url(../img/bg_feat.jpg);
    background-repeat:no-repeat;
    background-position:center 200px
}
.box_feat{
    margin-bottom:20px;
    padding-top:100px
}
.box_feat#icon_1{
    background:url(../img/icon_1.svg) center top no-repeat
}
.box_feat#icon_2{
    background:url(../img/icon_2.svg) center top no-repeat
}
.box_feat#icon_3{
    background:url(../img/icon_3.svg) center top no-repeat
}
#filter_buttons{
    margin-bottom:30px
}
#filter_buttons button{
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
    background-color:#ededed;
    border:0;
    font-weight:500;
    padding:5px 10px;
    min-width:90px;
    margin:20px 5px 10px;
    outline:0;
    cursor:pointer;
    -webkit-transition:all .5s ease;
    transition:all .5s ease
}
#filter_buttons button:hover{
    background-color:#ed5434;
    color:#fff
}
#filter_buttons button.active{
    background-color:#333;
    color:#fff
}
.course_container{
    background-color:#fff;
    -webkit-box-shadow:0 0 5px 0 rgba(0,0,0,.1);
    -moz-box-shadow:0 0 5px 0 rgba(0,0,0,.1);
    box-shadow:0 0 5px 0 rgba(0,0,0,.1);
    margin:0 0 30px;
    position:relative
}
.course_container figure{
    position:relative;
    overflow:hidden
}
.course_container .course_title{
    padding:25px 20px 20px;
    position:relative
}
.short_info,.type{
    position:absolute;
    left:0;
    width:100%
}
.course_container .course_title h3{
    margin:0;
    font-size:18px;
    font-weight:500
}
.course_container figure a:hover img{
    -webkit-transform:scale(1);
    transform:scale(1)
}
.course_container figure img{
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
    -webkit-transition:all .7s ease;
    transition:all .7s ease
}
.short_info{
    bottom:0;
    background:url(../img/shadow_box.png) left bottom repeat-x;
    padding:12px 10px;
    color:#fff;
    font-size:13px;
    font-weight:500
}
.type{
    top:-15px
}
.box_overlay,.price sup,.promo_full,.users:before{
    position:relative
}
.type span{
    background-color:#333;
    color:#fff;
    padding:3px 15px;
    font-weight:500
}
.price,.users{
    font-weight:500;
    font-size:18px
}
.price{
    float:left
}
.price sup{
    font-size:11px;
    top:-5px
}
.users{
    float:right;
    color:#999
}
.users:before{
    font-family:fontello;
    font-style:normal;
    content:'\ecc2';
    font-size:14px;
    top:-2px;
    margin-right:3px
}
a#view_all{
    background:#fff;
    color:#ed5434;
    display:table;
    width:100%;
    height:330px;
    font-weight:500;
    font-size:16px;
    -webkit-box-shadow:0 0 5px 0 rgba(0,0,0,.1);
    -moz-box-shadow:0 0 5px 0 rgba(0,0,0,.1);
    box-shadow:0 0 5px 0 rgba(0,0,0,.1)
}
a#view_all:hover{
    background:#ed5434;
    color:#fff
}
a#view_all span{
    display:table-cell;
    vertical-align:middle
}
a#view_all span i{
    font-size:38px;
    display:block;
    margin-bottom:5px
}
.promo_full{
    height:auto;
    background:url(../img/promo_bg.jpg) center center no-repeat fixed;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover
}
.promo_full_wp{
    display:table;
    width:100%;
    height:auto
}
.promo_full_wp>div{
    display:table-cell;
    padding:5% 0;
    vertical-align:middle;
    text-align:center;
    color:#fff;
    font-size:16px;
    box-sizing:content-box
}
#testimonials{
    background:url(../img/bg_subscribe.png) left top no-repeat #92278f;
    color:#fff
}
#testimonials h3{
    font-size:36px;
    font-weight:600;
    color:#fff;
    margin-top:0;
    padding-top:0
}
.box_overlay,.pic h4{
    font-size:14px;
    color:#fff
}
#compatib{
    background:url(../img/android_apple.svg) no-repeat;
    padding-left:75px;
    height:29px;
    box-sizing:content-box;
    padding-top:7px;
    margin-bottom:20px
}
.box_overlay{
    background-color:rgba(0,0,0,.7);
    padding:25px 25px 25px 225px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    text-align:left
}
.pic,.pic h4{
    position:absolute
}
.pic{
    left:25px;
    top:25px;
    width:190px;
    height:80px
}
.pic h4{
    left:95px;
    top:18px;
    font-weight:500
}
.pic h4 small{
    display:block;
    color:#fff;
    margin-top:3px
}
.pic figure{
    width:80px;
    height:80px;
    overflow:hidden
}
.pic figure img{
    width:80px;
    height:auto;
    border:5px solid rgba(0,0,0,.2)
}
.comment{
    border-left:1px solid rgba(255,255,255,.5);
    padding-left:25px;
    font-family:Kalam,cursive;
    font-size:22px
}
#nav_in{
    background-color:#ededed;
    padding:12px 0
}
#nav_in ul{
    margin:0;
    padding:0
}
#nav_in ul li{
    display:inline;
    margin-right:5px
}
ul#course_info{
    background-color:#4088DA;
    margin:0;
    padding:10px;
    color:#fff
}
ul#course_info li{
    display:inline-block;
    margin-right:30px
}
ul#course_info li:last-child{
    float:right;
    margin-right:0
}
.workoutlist{
    margin-bottom:20px;
    border-bottom:1px solid#ededed;
    padding-bottom:20px
}
.workoutlist h4{
    margin-top:20px
}
.workoutlist h4 a{
    color:#92278f
}
.workoutlist h4 a:hover{
    color:#333
}
.workoutlist.last{
    margin-bottom:0;
    border-bottom:none;
    padding-bottom:20px
}
.workoutlist figure{
    position:relative;
    background-color:#000;
    z-index:2;
    width:100%;
    height:100%
}
.workoutlist figure i{
    position:absolute;
    top:50%;
    left:50%;
    width:32px;
    height:32px;
    margin-left:-16px;
    margin-top:-16px;
    z-index:5;
    color:#fff;
    font-size:32px;
    line-height:1
}
.workoutlist figure a img{
    opacity:.8
}
.workoutlist figure a img:hover{
    opacity:.6
}
.workoutlist figure span{
    position:absolute;
    bottom:0;
    left:0;
    display:block;
    padding:3px 8px 0;
    font-weight:500;
    font-size:12px;
    color:#fff;
    background-color:rgba(0,0,0,.7)
}
.workoutlist figure em{
    position:absolute;
    bottom:0;
    right:5px;
    font-style:normal
}
.workoutlist figure em:before{
    font-family:fontello;
    content:"\ebcf";
    color:#6F9
}
#price_in{
    font-weight:300;
    font-size:32px;
    position:absolute;
    left:0;
    top:20px;
    background-color:#92278f;
    color:#fff;
    padding:10px 20px 3px;
    line-height:1
}
#price_in sup{
    font-size:16px
}
#price_in .orginal_price{
    font-size:18px;
    text-decoration:line-through
}
#features{
    margin-top:75px
}
#features.version-2{
    margin-top:0
}
#features a{
    color:#444;
    border-bottom:1px dotted #999
}
#features ul{
    margin:20px 0 20px 5px;
    padding:0
}
#features ul li{
    margin-bottom:10px;
    position:relative;
    padding-left:30px
}
#features ul li i{
    margin-right:5px;
    font-size:18px;
    position:absolute;
    top:1px;
    left:0
}
#trainer_col{
    padding:10px 20px 20px
}
#trainer_col h4{
    font-size:13px;
    font-weight:500;
    color:#999;
    margin-top:0;
    padding-top:0
}
#trainer_col h5.media-heading{
    font-weight:500;
    font-size:17px
}
iframe{
    border:0
}
form#calculator .form-control,form#calculator label{
    color:#fff;
    font-weight:500
}
form#calculator .form-control::-moz-placeholder{
    color:#fff;
    font-weight:500;
    opacity:1
}
form#calculator .form-control:-ms-input-placeholder{
    color:#fff;
    font-weight:500
}
form#calculator .form-control::-webkit-input-placeholder{
    color:#fff;
    font-weight:500
}
#btn-close-modal{
    text-align:right;
    font-size:38px;
    padding:10px 15px;
    cursor:pointer;
    color:#fff;
    opacity:.5
}
#btn-close-modal:hover{
    opacity:1
}
.modal-content-2 h4{
    text-align:center;
    color:#fff;
    font-size:32px;
    margin:0 0 45px
}
.result h3{
    margin-bottom:0;
    font-size:16px;
    font-weight:500;
    color:#fff
}
input[type=radio]{
    display:none
}
input[type=radio]+label span{
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../img/check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer
}
input[type=radio]:checked+label span{
    background:url(../img/check_radio_sheet.png) -57px top no-repeat
}
.result{
    background-color:#8dc63f;
    color:#fff;
    text-align:center;
    font-size:60px;
    font-weight:600;
    padding:10px 20px 15px;
    margin-bottom:30px;
    font-family:"Helvetica Neue",Arial
}
.box_style_3{
    border:1px solid #ededed;
    padding:20px;
    text-align:center;
    min-height:250px;
    position:relative;
    margin-bottom:15px;
    background-color:#f9f4f9
}
.box_style_3 h4{
    position:absolute;
    bottom:15px;
    margin:0;
    padding:0;
    line-height:1
}
.box_style_3 #count_calories{
    font-size:38px;
    margin-top:70px;
    line-height:1
}
.calculate_link{
    font-size:14px;
    margin-top:5px;
    font-weight:500
}
.team-item-img{
    position:relative
}
.team-item-img .team-item-detail{
    background:rgba(0,0,0,.8);
    text-align:center;
    color:#fff;
    display:-webkit-flex;
    display:flex;
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    visibility:hidden;
    overflow:hidden;
    transition:all .5s ease-in-out 0s;
    -moz-transition:all .5s ease-in-out 0s;
    -webkit-transition:all .5s ease-in-out 0s;
    -o-transition:all .5s ease-in-out 0s
}
.team-item:hover .team-item-detail{
    opacity:1;
    visibility:visible
}
.team-item-img .team-item-detail .team-item-detail-inner{
    margin:auto;
    padding:25px
}
.team-item-detail-inner h4{
    color:#fff;
    font-weight:500
}
.team-item-detail-inner .social{
    margin:0 0 25px;
    padding:0
}
.team-item-detail-inner .social li{
    list-style:none;
    display:inline-block;
    margin:0 5px
}
.team-item-detail-inner .social li a{
    color:#fff
}
.team-item-detail-inner .social li a:hover{
    color:#ed5434
}
.team-item-info{
    padding-top:15px;
    text-align:center
}
.team-item-info h4{
    margin-bottom:0;
    text-transform:uppercase
}
#filters_col{
    background-color:#fff;
    padding:20px;
    border:1px solid #ededed;
    margin-bottom:25px
}
#filters_col label{
    color:#555;
    font-weight:400;
    font-size:12px
}
a#filters_col_bt{
    display:block;
    color:#333;
    position:relative;
    font-size:16px;
    font-weight:500
}
a#filters_col_bt:before{
    font-family:ElegantIcons;
    content:"\66";
    font-size:26px;
    position:absolute;
    right:0;
    top:0;
    line-height:1
}
.filter_type h6{
    border-top:1px solid #ddd;
    margin:15px 0;
    font-weight:500;
    padding:15px 0 0;
    font-size:13px;
    color:#999
}
.filter_type ul{
    padding:0;
    margin:0 0 15px
}
.filter_type ul li{
    margin-bottom:10px
}
.filter_type ul li:last-child{
    margin-bottom:0
}
.irs-from,.irs-single,.irs-to{
    font-size:11px!important;
    background:#92278f!important;
    font-weight:500
}
.irs-from:after,.irs-single:after,.irs-to:after{
    border-top-color:#92278f!important
}
#subheader_cart{
    background-color:#4088DA;
    height:320px;
    width:100%;
    display:table;
    color:#fff
}
#subheader_cart #content{
    display:table-cell;
    vertical-align:middle;
    text-align:center
}
.bs-wizard{
    width:90%;
    margin:50px auto 0
}
.bs-wizard>.bs-wizard-step{
    padding:0;
    position:relative
}
.bs-wizard>.bs-wizard-step .bs-wizard-stepnum{
    font-size:14px;
    font-weight:500
}
.bs-wizard>.bs-wizard-step>.bs-wizard-dot{
    position:absolute;
    width:50px;
    height:50px;
    display:block;
    top:36px;
    left:50%;
    margin-top:-5px;
    margin-left:-25px;
    border-radius:50%;
    border:2px solid #fff;
    background-color:#4088DA
}
.bs-wizard>.bs-wizard-step>.bs-wizard-dot:after{
    content:'\4e';
    font-family:ElegantIcons;
    border-radius:50px;
    position:absolute;
    top:5px;
    left:10px;
    font-size:26px;
    color:#fff
}
#toTop:before,ul#cat_nav li a:after,ul.list_3 li:before{
    font-family:fontello
}
.bs-wizard>.bs-wizard-step>.progress{
    position:relative;
    border-radius:0;
    height:2px;
    box-shadow:none;
    margin:34px 0
}
.bs-wizard>.bs-wizard-step>.progress>.progress-bar{
    width:0;
    box-shadow:none;
    background:#fff
}
.bs-wizard>.bs-wizard-step.complete>.progress>.progress-bar{
    width:100%
}
.bs-wizard>.bs-wizard-step.active>.progress>.progress-bar{
    width:50%
}
.bs-wizard>.bs-wizard-step:first-child.active>.progress>.progress-bar{
    width:0
}
.bs-wizard>.bs-wizard-step:last-child.active>.progress>.progress-bar{
    width:100%
}
.bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot{
    background-color:#4088DA
}
.bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot:after{
    opacity:0
}
.bs-wizard>.bs-wizard-step:first-child>.progress{
    left:50%;
    width:50%
}
.bs-wizard>.bs-wizard-step:last-child>.progress{
    width:50%
}
.bs-wizard>.bs-wizard-step.disabled a.bs-wizard-dot{
    pointer-events:none
}
.table.cart-list th,.table.options_cart th{
    background-color:#fff;
    font-weight:600
}
.item_cart,.table.cart-list td strong{
    font-weight:500
}
.table.cart-list td,.table.options_cart td{
    vertical-align:middle
}
.options i{
    font-size:22px
}
.thumb_cart{
    border-radius:50%;
    overflow:hidden;
    width:80px;
    height:80px;
    margin-right:10px;
    float:left
}
.thumb_cart img{
    width:80px;
    height:auto
}
.item_cart{
    display:inline-block;
    margin-top:32px
}
#total_cart{
    font-size:24px;
    font-weight:600;
    margin-bottom:10px
}
.form_title{
    position:relative;
    padding-left:55px;
    margin-bottom:10px
}
.form_title h3,.form_title p{
    margin:0;
    padding:0
}
.form_title h3 strong{
    background-color:#ed5434;
    width:40px;
    height:40px;
    display:inline-block;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    color:#fff;
    font-size:18px;
    line-height:42px;
    text-align:center;
    position:absolute;
    left:0;
    top:0
}
.form_title p{
    color:#999;
    font-size:12px;
    line-height:14px
}
.cards{
    margin-top:28px
}
#confirm{
    text-align:center;
    margin-bottom:25px
}
#confirm i{
    font-size:140px;
    color:#85c99d;
    display:inline-block
}
.table td.total_confirm{
    font-weight:500;
    font-size:18px;
    background-color:#92278f;
    color:#fff
}
.box_style_5{
    border:1px solid #ededed;
    background-color:#fff
}
.panel,.panel-group .panel{
    border-radius:0
}
ul#cat_nav{
    margin:0;
    padding:0
}
ul#cat_nav li{
    border-bottom:1px solid #ededed
}
ul#cat_nav li a{
    position:relative;
    color:#555;
    display:block;
    padding:15px 10px
}
ul#cat_nav li a span{
    font-size:11px;
    color:#999
}
ul#cat_nav li a:after{
    content:"\e89b";
    position:absolute;
    right:15px;
    top:15px
}
.checkbox label:after,.checkbox label:before{
    content:'';
    position:absolute
}
ul#cat_nav li:last-child{
    border-bottom:0;
    padding-bottom:0
}
ul#cat_nav li a.active,ul#cat_nav li a:hover{
    background:#ed5434;
    color:#fff
}
.panel{
    -webkit-box-shadow:none;
    box-shadow:none;
    border-color:#ededed
}
.panel-title a{
    display:block;
    color:#444
}
.panel-default>.panel-heading{
    background-color:#fff;
    padding:20px;
    border-bottom:1px solid #ddd
}
.panel-heading{
    border-top-left-radius:0;
    border-top-right-radius:0
}
.panel-body{
    padding:30px;
    line-height:1.6!important
}
.panel-title a .indicator{
    color:#ed5434
}
.panel-title a:hover .indicator{
    color:#333
}
.img_wrapper{
    background-color:#000;
    margin:0 0 30px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    position:relative
}
.img_container a:hover img{
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
    opacity:1
}
.img_container img{
    -webkit-transform:scale(1);
    transform:scale(1);
    -moz-transition:all .4s;
    -webkit-transition:all .4s ease;
    transition:all .4s ease;
    opacity:.8
}
.img_container{
    position:relative;
    overflow:hidden;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    z-index:0
}
ul.contacts_info{
    padding:0;
    margin:15px 0 0
}
ul.contacts_info li{
    margin-bottom:15px
}
ul.contacts_info li:last-child{
    margin-bottom:0
}
#map_contact{
    width:100%;
    height:500px
}
.form-control.form-white{
    color:#fff;
    font-size:16px;
    height:48px;
    position:relative;
    border-radius:0;
    border-bottom:2px solid #fff;
    padding:15px 20px 15px 10px;
    background:0 0;
    -webkit-transition:background-color .3s;
    transition:background-color .3s;
    box-shadow:0
}
.form-control.form-white::-webkit-input-placeholder{
    color:#fff
}
.form-control.form-white:-moz-placeholder{
    opacity:1;
    color:#fff
}
.form-control.form-white::-moz-placeholder{
    opacity:1;
    color:#fff
}
.form-control.form-white:-ms-input-placeholder{
    color:#fff
}
.form-control.form-white:focus{
    background:rgba(255,255,255,.2);
    -webkit-box-shadow:none;
    box-shadow:none
}
.box_style_1,.box_style_6{
    box-shadow:0 2px 3px rgba(0,0,0,.07)
}
.login_icon{
    color:#fff;
    font-size:80px;
    opacity:.5
}
.modal-backdrop{
    z-index:999999
}
.modal{
    padding:0 25px!important;
    z-index:9999999
}
.modal-dialog{
    width:100%;
    max-width:560px;
    margin:0 auto
}
.modal-popup{
    position:relative;
    padding:45px 30px;
    text-align:center;
    background:#4088DA;
    border-radius:0;
    border:none
}
.modal-popup a.close-link{
    font-size:22px;
    position:absolute;
    top:20px;
    right:30px;
    color:#fff
}
.popup-form{
    width:90%;
    max-width:375px;
    margin:30px auto
}
.popup-form .form-control{
    margin:20px 0
}
.checkbox{
    display:block;
    position:relative
}
.checkbox label:before{
    top:0;
    left:0;
    width:20px;
    height:20px;
    cursor:pointer;
    border:2px solid #fff;
    background:0 0;
    -webkit-transition:background-color .3s;
    transition:background-color .3s
}
.checkbox input[type=checkbox]:focus+label:before{
    background:rgba(255,255,255,.2)
}
.checkbox label:after{
    top:6px;
    left:6px;
    width:8px;
    height:8px;
    opacity:0;
    background:#fff;
    -webkit-transition:all .3s ease;
    transition:all .3s ease
}
.checkbox input[type=checkbox]{
    opacity:0;
    position:absolute;
    width:0;
    height:0
}
.checkbox input[type=checkbox]:checked+label:after{
    opacity:1
}
.checkbox-holder span{
    position:relative;
    display:inline-block;
    margin:0 0 0 10px;
    white-space:normal;
    color:#fff
}
.btn.btn-submit{
    width:100%;
    margin-top:30px;
    color:#ed5434;
    padding:10px;
    background:#fff;
    outline:0;
    -webkit-transition:all .2s ease;
    transition:all .2s ease;
    font-size:16px
}
.btn.btn-submit:focus{
    outline:0
}
.btn.btn-submit:hover{
    color:#fff;
    background:#333
}
.profile ul{
    text-transform:none;
    font-size:14px;
    padding:0;
    margin:0 0 20px
}
.profile ul li{
    border-bottom:1px solid #e5e5e5;
    padding:10px 0
}
.profile ul li:last-child{
    border-bottom:none
}
ul.social_teacher{
    padding:0;
    margin:5px 0 15px;
    font-size:16px;
    text-align:center
}
ul.social_teacher li{
    display:inline-block;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background-color:#fff;
    width:40px;
    height:40px;
    padding:0;
    line-height:45px;
    text-align:center
}
.indent_title_in{
    position:relative;
    padding-left:65px;
    margin-bottom:20px
}
.indent_title_in i{
    font-size:40px;
    position:absolute;
    left:0;
    color:#92278f;
    top:0
}
.indent_title_in h3{
    margin-bottom:0;
    margin-top:0;
    font-size:26px
}
.indent_title_in p{
    color:#777;
    margin:0;
    padding:0;
    font-size:13px;
    line-height:14px
}
.wrapper_indent{
    padding-left:65px
}
ul.list_3{
    margin:0;
    padding:0
}
ul.list_3 li{
    margin-bottom:0;
    position:relative;
    padding-left:20px
}
ul.list_3 li:before{
    content:"\ea3e";
    position:absolute;
    left:0;
    top:0
}
#trainer_courses thead tr th{
    font-weight:500!important
}
#preloader{
    position:fixed;
    top:0;
    left:0;
    right:0;
    width:100%;
    height:100%;
    bottom:0;
    background-color:#fff;
    z-index:999999
}
[data-loader=circle-side]{
    position:absolute;
    width:50px;
    height:50px;
    top:50%;
    left:50%;
    margin-left:-25px;
    margin-top:-25px;
    -webkit-animation:circle infinite .95s linear;
    -moz-animation:circle infinite .95s linear;
    -o-animation:circle infinite .95s linear;
    animation:circle infinite .95s linear;
    border:2px solid #92278f;
    border-top-color:rgba(0,0,0,.2);
    border-right-color:rgba(0,0,0,.2);
    border-bottom-color:rgba(0,0,0,.2);
    border-radius:100%
}
@-webkit-keyframes circle{
    0%{
        -webkit-transform:rotate(0);
        -ms-transform:rotate(0);
        -o-transform:rotate(0);
        transform:rotate(0)
    }
    100%{
        -webkit-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@-moz-keyframes circle{
    0%{
        -webkit-transform:rotate(0);
        -ms-transform:rotate(0);
        -o-transform:rotate(0);
        transform:rotate(0)
    }
    100%{
        -webkit-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@-o-keyframes circle{
    0%{
        -webkit-transform:rotate(0);
        -ms-transform:rotate(0);
        -o-transform:rotate(0);
        transform:rotate(0)
    }
    100%{
        -webkit-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@keyframes circle{
    0%{
        -webkit-transform:rotate(0);
        -ms-transform:rotate(0);
        -o-transform:rotate(0);
        transform:rotate(0)
    }
    100%{
        -webkit-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
.add_bottom_15{
    margin-bottom:15px
}
.add_bottom_30{
    margin-bottom:30px
}
.add_bottom_45{
    margin-bottom:45px
}
.add_bottom_60{
    margin-bottom:60px
}
.add_bottom_75{
    margin-bottom:75px
}
.add_top_20{
    padding-top:20px
}
.add_top_60,.margin_60,.margin_60_35{
    padding-top:60px
}
.margin_60{
    padding-bottom:60px
}
.margin_60_35{
    padding-bottom:35px
}
.margin_100_35{
    padding-top:100px;
    padding-bottom:35px
}
.margin_30{
    margin-top:30px;
    margin-bottom:30px
}
.nomargin_top{
    margin-top:0
}
.nomargin,.nopadding{
    margin:0!important
}
.nopadding{
    padding:0!important
}
.box_style_2,.box_style_4{
    padding:20px;
    position:relative
}
.container_styled_1{
    background:#f9f9f9
}
.box_style_1{
    background-color:#fff
}
.box_style_2{
    background-color:#f4f4f4;
    margin-bottom:25px
}
.box_style_2 hr{
    margin:10px -25px 20px;
    border:0;
    border-top:2px solid #fff
}
.box_style_4{
    text-align:center;
    border:1px solid #ddd
}
.box_style_4:after,.box_style_4:before{
    content:"";
    position:absolute;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    bottom:100%;
    left:50%;
    margin-left:-10px
}
.box_style_4:before{
    border-bottom:10px solid #ccc;
    margin-bottom:0
}
.box_style_4:after{
    border-bottom:10px solid #fff;
    margin-bottom:-1px;
    z-index:1
}
.box_style_4 i{
    font-size:52px;
    margin-top:10px;
    display:inline-block
}
.box_style_4 a.phone{
    font-size:26px;
    display:block;
    margin-bottom:20px
}
.box_style_6{
    background-color:#fff;
    padding:30px 30px 15px
}
.ribbon{
    position:absolute;
    left:-5px;
    top:-5px;
    z-index:1;
    overflow:hidden;
    width:75px;
    height:75px;
    text-align:right
}
.ribbon span{
    font-size:10px;
    font-weight:700;
    color:#FFF;
    text-align:center;
    line-height:20px;
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    width:100px;
    display:block;
    background:#79A70A;
    background:linear-gradient(#9BC90D 0,#79A70A 100%);
    box-shadow:0 3px 10px -5px rgba(0,0,0,1);
    text-shadow:1px 1px 2px rgba(0,0,0,.25);
    position:absolute;
    top:19px;
    left:-21px
}
.ribbon span::after,.ribbon span::before{
    content:"";
    position:absolute;
    top:100%;
    z-index:-1;
    border-bottom:3px solid transparent;
    border-top:3px solid #79A70A
}
.ribbon span::before{
    left:0;
    border-left:3px solid #79A70A;
    border-right:3px solid transparent
}
.ribbon span::after{
    right:0;
    border-left:3px solid transparent;
    border-right:3px solid #79A70A
}
.ribbon.top span::after,.ribbon.top span::before{
    border-bottom:3px solid transparent;
    border-top:3px solid #1e5799
}
.ribbon.top span{
    background:linear-gradient(#2989d8 0,#1e5799 100%)
}
.ribbon.top span::before{
    border-left:3px solid #1e5799;
    border-right:3px solid transparent
}
.ribbon.top span::after{
    border-left:3px solid transparent;
    border-right:3px solid #1e5799
}
.tab-content{
    padding:30px;
    background-color:#fff;
    border:1px solid #ddd;
    border-top:none;
    margin-bottom:25px;
    -webkit-border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-bottomleft:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px
}
.parallax_window_in{
    height:420px;
    position:relative;
    display:table;
    width:100%
}
#sub_content_in{
    display:table-cell;
    padding:45px 15% 0;
    vertical-align:middle;
    text-align:center;
    background:rgba(0,0,0,.6)
}
#sub_content_in h1{
    color:#fff;
    font-weight:600;
    font-size:42px;
    margin-bottom:0
}
#sub_content_in p{
    color:#fff;
    font-size:24px;
    font-weight:300
}
.error_message,label{
    font-weight:600
}
.loader{
    margin-left:5px;
    position:absolute
}
form#subscribe-plan .loader{
    float:left;
    margin-top:-38px;
    margin-left:10px;
    color:#fff
}
form#subscribe-plan .error_message{
    padding:10px 0;
    margin-bottom:0
}
.error_message{
    color:#F33;
    margin-bottom:4px
}
.form-control{
    border-radius:0;
    background:0 0;
    border:none;
    border-bottom:2px solid #ededed;
    padding-left:0;
    box-shadow:none
}
.form-control:focus{
    border-color:#4088DA;
    -webkit-box-shadow:none;
    box-shadow:none
}
.form-control::-moz-placeholder{
    color:#b6b6b6;
    font-weight:500;
    opacity:1
}
.form-control:-ms-input-placeholder{
    color:#b6b6b6;
    font-weight:500
}
.form-control::-webkit-input-placeholder{
    color:#b6b6b6;
    font-weight:500
}
.form-group{
    margin-bottom:25px
}
.styled-select select{
    background:0 0;
    width:115%;
    padding:0 5px 0 0;
    border:0;
    border-radius:0;
    line-height:1;
    height:34px;
    margin:0;
    font-weight:300;
    -moz-appearance:window;
    -webkit-appearance:none;
    cursor:pointer;
    box-shadow:none
}
.styled-select{
    width:100%;
    overflow:hidden;
    line-height:1;
    height:34px;
    background:url(../img/arrow_down.svg) right center no-repeat;
    border:none;
    border-bottom:2px solid #ededed;
    margin-bottom:15px
}
.styled-select select::-ms-expand{
    display:none
}
.styled-select select:focus{
    outline:0
}
.step{
    border-left:1px solid #ddd;
    padding:20px 0 20px 31px;
    margin:0 0 10px 20px
}
#toTop{
    width:40px;
    height:40px;
    background-color:rgba(0,0,0,.6);
    text-align:center;
    padding:10px;
    line-height:20px;
    position:fixed;
    bottom:10px;
    right:10px;
    cursor:pointer;
    display:none;
    color:#fff;
    font-size:20px;
    z-index:10
}
#toTop:before{
    font-style:normal;
    font-weight:400;
    content:"\e899"
}
.plans{
    margin:0 auto 50px;
    zoom:1
}
.plans:after,.plans:before{
    content:'';
    display:table
}
.plans:after{
    clear:both
}
.plan{
    margin:10px 0;
    padding:20px;
    text-align:center;
    background:#fff;
    background-clip:padding-box;
    border:solid #ddd;
    border-width:1px 0 1px 1px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,.1);
    box-shadow:0 1px 2px rgba(0,0,0,.1)
}
.col-md-4.plan:first-child{
    margin-right:-30px;
    margin-left:30px
}
.plan:last-child{
    border-width:1px
}
.plan-title{
    position:relative;
    margin:-20px -10px 20px;
    padding:20px;
    line-height:1;
    font-size:18px;
    font-weight:700;
    border-bottom:1px dotted #ccc
}
.plan-title:before{
    content:'';
    position:absolute;
    bottom:-1px;
    left:0;
    right:0;
    height:1px
}
.plan-price{
    margin:0 auto 20px;
    width:110px;
    height:110px;
    line-height:110px;
    font-size:30px;
    font-weight:500;
    color:#fff;
    background:#4b4b4b;
    border-radius:100px;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    display:inline-block;
    text-align:center
}
.plan-price>span{
    font-size:12px;
    font-weight:400;
    color:rgba(255,255,255,.9)
}
.plan-features{
    margin-bottom:20px;
    line-height:2;
    font-size:12px;
    text-align:center
}
ul.plan-features{
    padding:0;
    margin:0 0 30px
}
.plan-tall{
    margin:0 -30px 0 0;
    background:#fff;
    border-radius:4px;
    z-index:100;
    border:solid #92278f;
    position:relative
}
.ribbon-2{
    width:99px;
    height:97px;
    position:absolute;
    left:-7px;
    top:-7px;
    display:block;
    background:url(../img/ribbon.png) no-repeat;
    z-index:101
}
.plan-tall>.plan-title{
    font-size:18px
}
.plan-tall>.plan-price{
    margin:0 auto 20px;
    height:130px;
    width:130px;
    line-height:130px;
    font-size:30px;
    font-weight:500;
    color:#fff;
    background:#92278f;
    border-radius:130px;
    -webkit-border-radius:130px;
    -moz-border-radius:130px;
    display:inline-block;
    text-align:center
}
.plan-tall>.plan-features{
    font-size:14px
}
.plan-tall>.plan-button{
    padding:0 16px;
    line-height:32px
}
.plan-tall+.plan{
    border-left:0
}
.question_box h3{
    font-size:16px;
    line-height:1.4;
    margin-bottom:10px
}
.question_box{
    padding-left:40px;
    position:relative;
    margin-bottom:30px
}
.question_box:before{
    content:"\74";
    font-family:ElegantIcons;
    font-style:normal;
    font-weight:400;
    text-decoration:inherit;
    font-size:30px;
    position:absolute;
    color:#ccc;
    top:-5px;
    left:0
}
.search-overlay-menu{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.9);
    -webkit-transition:transform .3s ease 0s,opacity .3s ease 0s,visibility 0s ease .3s;
    -moz-transition:transform .3s ease 0s,opacity .3s ease 0s,visibility 0s ease .3s;
    -ms-transition:transform .3s ease 0s,opacity .3s ease 0s,visibility 0s ease .3s;
    -o-transition:transform .3s ease 0s,opacity .3s ease 0s,visibility 0s ease .3s;
    transition:transform .3s ease 0s,opacity .3s ease 0s,visibility 0s ease .3s;
    opacity:0;
    visibility:hidden;
    z-index:999999;
    text-align:center
}
.search-overlay-menu.open{
    opacity:1;
    visibility:visible;
    -webkit-transition:opacity .3s ease 0s,transform .3s ease 0s;
    -moz-transition:opacity .3s ease 0s,transform .3s ease 0s;
    -ms-transition:opacity .3s ease 0s,transform .3s ease 0s;
    -o-transition:opacity .3s ease 0s,transform .3s ease 0s;
    transition:opacity .3s ease 0s,transform .3s ease 0s
}
.search-overlay-menu form{
    height:70px;
    position:absolute;
    top:50%;
    margin:-35px auto 0;
    width:60%;
    left:20%;
    transform:translateY(20px);
    -moz-transform:translateY(20px);
    -ms-transform:translateY(20px);
    -o-transform:translateY(20px);
    -webkit-transform:translateY(20px);
    transition:all .3s ease-in-out 0s;
    -moz-transition:all .3s ease-in-out 0s;
    -o-transition:all .3s ease-in-out 0s;
    -webkit-transition:all .3s ease-in-out 0s
}
.search-overlay-menu.open form{
    transform:translateY(0);
    -moz-transform:translateY(0);
    -ms-transform:translateY(0);
    -o-transform:translateY(0);
    -webkit-transform:translateY(0)
}
.search-overlay-menu input[type=search]{
    height:100%;
    width:100%;
    color:#fff;
    background:0 0;
    border-top:0 solid transparent;
    border-bottom:2px solid #909090!important;
    border-left:0 solid transparent;
    border-right:0 solid transparent;
    font-size:42px;
    font-weight:300;
    outline:0;
    padding:10px 0
}
.search-overlay-menu form button{
    background:rgba(0,0,0,0);
    border:none;
    font-size:3rem;
    position:absolute;
    right:0;
    top:15px;
    color:#c6c6c6;
    outline:0
}
.search-overlay-menu .search-overlay-close{
    position:absolute;
    top:5px;
    right:20px;
    opacity:1;
    font-size:40px;
    color:#fff
}
.search-overlay-menu .search-overlay-close:hover{
    color:#ed5434;
    cursor:pointer
}
.switchery{
    background-color:#fff;
    border:1px solid #dfdfdf;
    border-radius:20px;
    cursor:pointer;
    display:inline-block;
    height:30px;
    position:relative;
    vertical-align:middle;
    width:50px;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
    box-sizing:content-box;
    background-clip:content-box;
    float:right
}
.switchery>small{
    background:#fff;
    border-radius:100%;
    box-shadow:0 1px 3px rgba(0,0,0,.4);
    height:30px;
    position:absolute;
    top:0;
    width:30px
}
.switchery-small{
    border-radius:20px;
    height:20px;
    width:33px
}
.switchery-small>small{
    height:20px;
    width:20px
}
.switchery-large{
    border-radius:40px;
    height:40px;
    width:66px
}
.switchery-large>small{
    height:40px;
    width:40px
}
.pagination>li>a,.pagination>li>span{
    color:#ed5434
}
.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover{
    color:#333
}
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{
    background-color:#999;
    border-color:#999
}
.owl-carousel .animated{
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}
.owl-carousel .owl-animated-in{
    z-index:0
}
.owl-carousel .owl-animated-out{
    z-index:1
}
.owl-carousel .fadeOut{
    -webkit-animation-name:fadeOut;
    animation-name:fadeOut
}
@-webkit-keyframes fadeOut{
    0%{
        opacity:1
    }
    100%{
        opacity:0
    }
}
@keyframes fadeOut{
    0%{
        opacity:1
    }
    100%{
        opacity:0
    }
}
.owl-height{
    -webkit-transition:height .5s ease-in-out;
    -moz-transition:height .5s ease-in-out;
    -ms-transition:height .5s ease-in-out;
    -o-transition:height .5s ease-in-out;
    transition:height .5s ease-in-out
}
.owl-carousel{
    display:none;
    width:100%;
    position:relative;
    z-index:1
}
.owl-carousel .owl-stage{
    position:relative;
    -ms-touch-action:pan-Y
}
.owl-carousel .owl-stage:after{
    content:".";
    display:block;
    clear:both;
    visibility:hidden;
    line-height:0;
    height:0
}
.owl-carousel .owl-stage-outer{
    position:relative;
    overflow:hidden;
    -webkit-transform:translate3d(0,0,0)
}
.owl-carousel .owl-item{
    position:relative;
    min-height:1px;
    float:left;
    -webkit-backface-visibility:hidden;
    -webkit-touch-callout:none
}
.owl-carousel .owl-item img{
    display:block;
    width:100%;
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d
}
.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{
    display:none
}
.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{
    cursor:pointer;
    cursor:hand;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.owl-carousel.owl-loaded{
    display:block
}
.owl-carousel.owl-loading{
    opacity:0;
    display:block
}
.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn,.owl-carousel.owl-refresh .owl-item{
    display:none
}
.owl-carousel.owl-hidden{
    opacity:0
}
.owl-carousel.owl-drag .owl-item{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.owl-carousel.owl-grab{
    cursor:move;
    cursor:-webkit-grab;
    cursor:-o-grab;
    cursor:-ms-grab;
    cursor:grab
}
.owl-carousel.owl-rtl{
    direction:rtl
}
.owl-carousel.owl-rtl .owl-item{
    float:right
}
.no-js .owl-carousel{
    display:block
}
.owl-carousel .owl-item .owl-lazy{
    opacity:0;
    -webkit-transition:opacity .4s ease;
    -moz-transition:opacity .4s ease;
    -ms-transition:opacity .4s ease;
    -o-transition:opacity .4s ease;
    transition:opacity .4s ease
}
.owl-carousel .owl-video-wrapper{
    position:relative;
    height:100%;
    background:#000
}
.owl-carousel .owl-video-play-icon{
    position:absolute;
    height:80px;
    width:80px;
    left:50%;
    top:50%;
    margin-left:-40px;
    margin-top:-40px;
    background:url(owl.video.play.png) no-repeat;
    cursor:pointer;
    z-index:1;
    -webkit-backface-visibility:hidden;
    -webkit-transition:scale .1s ease;
    -moz-transition:scale .1s ease;
    -ms-transition:scale .1s ease;
    -o-transition:scale .1s ease;
    transition:scale .1s ease
}
.owl-carousel .owl-video-play-icon:hover{
    -webkit-transition:scale(1.3,1.3);
    -moz-transition:scale(1.3,1.3);
    -ms-transition:scale(1.3,1.3);
    -o-transition:scale(1.3,1.3);
    transition:scale(1.3,1.3)
}
.owl-carousel .owl-video-tn{
    opacity:0;
    height:100%;
    background-position:center center;
    background-repeat:no-repeat;
    -webkit-background-size:contain;
    -moz-background-size:contain;
    -o-background-size:contain;
    background-size:contain;
    -webkit-transition:opacity .4s ease;
    -moz-transition:opacity .4s ease;
    -ms-transition:opacity .4s ease;
    -o-transition:opacity .4s ease;
    transition:opacity .4s ease
}
.owl-carousel .owl-video-frame{
    position:relative;
    z-index:1;
    height:100%;
    width:100%
}
.owl-theme .owl-nav{
    position:absolute;
    top:50%;
    width:100%;
    margin-top:-50px
}
.owl-theme .owl-nav .owl-prev{
    position:absolute;
    left:2%;
    width:50px;
    height:50px
}
.owl-theme .owl-nav .owl-next{
    position:absolute;
    right:2%;
    width:50px;
    height:50px
}
.owl-theme .owl-nav [class*=owl-]{
    color:#FFF;
    font-size:36px;
    margin:5px;
    background:rgba(0,0,0,.5);
    display:inline-block;
    cursor:pointer;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    font-style:normal;
    font-weight:400;
    font-family:fontello;
    text-align:center;
    line-height:48px
}
.owl-theme .owl-nav .owl-prev:before{
    content:"\e89a";
    left:-2px;
    position:relative
}
.owl-theme .owl-nav .owl-next:before{
    content:"\e89b";
    right:-2px;
    position:relative
}
.owl-theme .owl-nav [class*=owl-]:hover{
    background:rgba(0,0,0,.8)
}
.owl-theme .owl-nav .disabled{
    opacity:.5;
    cursor:default
}
.owl-theme .owl-nav.disabled+.owl-dots{
    margin-top:10px
}
.owl-theme .owl-dots{
    text-align:center;
    margin-top:20px
}
.owl-theme .owl-dots .owl-dot{
    display:inline-block;
    zoom:1
}
.owl-theme .owl-dots .owl-dot span{
    width:10px;
    height:10px;
    margin:5px 7px;
    background:#D6D6D6;
    display:block;
    -webkit-backface-visibility:visible;
    -webkit-transition:opacity .2s ease;
    -moz-transition:opacity .2s ease;
    -ms-transition:opacity .2s ease;
    -o-transition:opacity .2s ease;
    transition:opacity .2s ease;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px
}
.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{
    background:#ed5434
}
.owl-item{
    -webkit-backface-visibility:hidden;
    -webkit-transform:translateZ(0) scale(1,1)
}
